<footer class="site-footer h-card">
    <hr />
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper" style="margin-top: 2rem;">
  
      <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->
  
      <div class="footer-col-wrapper">

          
        <div class="footer-col footer-col-3" >
            Bikepoli<br /><br />
            Reidet hapoilla jo vuodesta 2002
            
            
        </div>
        
        <div class="footer-col footer-col-3" style="text-align: right;">
            
            <a href="https://telegram.me/bikepoli">Telegram Group</a><br />
            <a href="https://www.instagram.com/bikepoli">Instagram</a><br />
            <a href="mailto:hello@bikepoli.fi">Email</a><br />
            
        </div>

  

      </div>
  
    </div>
  
  </footer>
  